@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

body {
  font-family: var.$font-family-base;
  font-size: var.$font-size-base;
  font-weight: var.$font-weight-base;
  line-height: var.$line-height-base;
  color: var.$text-color-base;
}

h1,
h2,
h3 {
  color: #000;
  margin-bottom: math.div(var.$gutter-base, 2);
  line-height: var.$line-height-small;
}

h1 {
  font-size: var.$heading-size-bigger;

  @include mix.mobile-l-styles { font-size: var.$heading-size-big; }
}

h2 {
  font-size: var.$heading-size-big;

  @include mix.mobile-l-styles { font-size: var.$heading-size-small; }
}

h3 {
  font-size: var.$heading-size-tiny;
}

ul {
  line-height: 2;
  list-style-type: circle;
}

.btn {
  display: inline-block;
  padding: math.div(var.$gutter-base, 3) (var.$gutter-base);
  border: 1px solid var.$background-color-primary;
  border-radius: 4px;
  background: var.$background-color-primary;
  color: var.$text-color-secondary;
  font-weight: var.$font-weight-bold;
  font-size: var.$font-size-small;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s ease-out, color .3s ease-out;

  &:hover {
    background: transparent;
    color: var.$background-color-primary;
  }
}

.flex-cont {
  display: flex;
  margin-right: -(math.div(var.$gutter-base, 2));

  @include mix.mobile-l-styles {
    flex-wrap: wrap;
    margin-right: 0;
  }

  .col {
    flex: 0 1 33.333%;

    @include mix.mobile-l-styles {
      flex-basis: 100%;

      &:not(:last-child) { margin-bottom: math.div(var.$gutter-base, 2); }
    }
  }

  .col-inner {
    margin-right: math.div(var.$gutter-base, 2);
    height: 100%;
    box-shadow: 0 math.div(var.$gutter-base, 2) (var.$gutter-base * 1.5) rgba(0, 0, 0, .2);

    @include mix.mobile-l-styles { margin-right: 0; }
  }
}