:root {
  --blue: #6dff1e;
  --white: #ffffff;
  --bs-navbar-toggler-icon-bg: 125, 55, 88;
}

/* .bg-color-blue {
  --red: #ff351e;
  background-color: var(--blue);
  color: var(--red);
}  */

.carousel-caption {
  bottom: auto;
  right: auto;
}

.navbar-nav {
  --bs-navbar-color: white;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* За да избришиме бордер околу хамбургер икона */
.navbar-toggler {
  border: none;
}

/* За да се избрише сенката на фокус на хамбургер иконата */
.navbar-toggler:focus {
  box-shadow: none;
}

@media screen and (max-width: 992px) {
  .navbar {
    position: static !important;
    background-color: grey;
    color: white;
  }

  .navbar .container-lg {
    border-bottom: none !important;
  }
}
