@use '../abstracts/variables' as var;
@use 'sass:math';

footer {
    text-align: center;
    width: 100%;
    background-color: var.$background-color-dark;
    padding: var.$gutter-base;

    p {
        color: var.$text-color-primary;
        margin: 0;
    }
}