@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  background-color: var.$background-color-base;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @extend %wrap;
    @extend %section;
  }

  .nav-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 var.$gutter-base;

    .logo {
      img {
        width: 70%;
      }
    }

    ul {
      margin-bottom: 0;
      margin-top: var.$gutter-base * 2;
      padding: 0;

      li {
        list-style-type: none;
        line-height: var.$line-height-base * 2;
      }
    }
  }
  .hamburger-menu {
    display: none;
    border: 1px solid;
    padding: math.div(var.$gutter-base, 6) math.div(var.$gutter-base, 3);
  }

  a {
    text-decoration: none;
    color: var.$text-color-base;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin-bottom: 0;
  }
  .nav-footer {
    padding: 0 var.$gutter-base;
    a {
      color: var.$text-color-primary;
      font-weight: var.$font-weight-bold;
    }
  }
  /* --- Responsive styles --- */
  @include mix.tablet-styles {
    height: max-content;
    width: 100%;

    .wrapper {
      padding: math.div(var.$gutter-base, 2);
      margin: 0;
      flex-direction: row;
      align-items: center;
    }
    ul,
    .nav-footer {
      display: none;
    }
    .logo img {
      width: 20%;
    }
    .nav-header {
      padding: 0;
      margin: 0;
      flex-direction: row;
      text-align: center;
    }
    .hamburger-menu {
      display: block;
    }
  }
}
