*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  color: #333;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

fieldset {
  border: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
i {
  color: #ff6b6b;
  font-size: 30px;
}
h2 {
  font-size: 25px;
  text-transform: uppercase;
}
.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  padding: 1.5rem 0 !important;
  text-align: center;
  border-bottom: 2px solid rgb(242, 240, 240);
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
@media (max-width: 768px) {
  .restaurants {
    flex-direction: column;
  }
}
