@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base: "Open Sans", sans-serif;

$line-height-base: 1.5;

$font-weight-normal: 400;
$font-weight-bold: 700;

// Size settings
$gutter-base: rem-calc(30);

// Color settings
$text-color-base: rgb(151, 148, 148);
$text-color-primary: rgba(31, 30, 30, 0.705);

$background-color-base: #fff;
